* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

nav {
  background-color: #27a6d8;
  width: 15%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
nav ul {
  height: 100%;
}
nav ul li {
  color: #5c5c5c;
  font-weight: 900;
}
nav ul li:hover a {
  color: white;
}
nav .toggle-button {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  display: none;
}
nav .toggle-button i {
  font-size: 24px;
  color: black;
}
nav .nav-items {
  height: 50%;
}

main {
  width: 85%;
  min-height: 100vh;
  position: absolute;
  left: 15%;
}

.image-2 {
  width: 90vw;
  height: 50vh;
  position: fixed;
  z-index: -2;
}

.image-3 {
  width: 90vw;
  height: 50vh;
  position: fixed;
  z-index: -2;
  transform: scaleY(-1);
  bottom: 0;
}

section {
  height: 100vh;
}

nav li {
  padding: 25px;
  margin: 20px;
  list-style-type: none;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #5c5c5c;
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
}

p {
  width: 700px;
  margin-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}

.black-text {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffa6;
}

.projects {
  width: 90%;
  height: 100vh;
  background-color: transparent;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project {
  background-color: lightgray;
  width: 30%;
  height: 300px;
}

.card:hover {
  transform: scale(1.1, 1.1);
}

.card {
  transition: transform 0.2s;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  color: #5c5c5c;
  margin-top: 350px;
  margin-left: 20px;
}

h2 {
  color: #5c5c5c;
  margin-left: 25px;
}

h3 {
  color: #5c5c5c;
}

/* Media Queries */
/* Mobiles */
@media screen and (max-width: 600px) {
  nav {
    background-color: white;
    width: 100%;
    position: static;
    height: 15vh;
  }
  nav img {
    display: none;
  }
  nav #nav-list {
    display: none;
    height: 100%;
    color: black;
    list-style: none;
  }
  nav #nav-list li {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  nav #nav-list li a {
    color: black;
  }
  nav .toggle-button {
    display: block;
  }

  #nav-list.active {
    display: flex !important;
  }

  main {
    width: 100%;
    left: 0;
  }
}